* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar .container-fluid {
    box-shadow: 0 0 0
}

.featured-text img {
    width: 90%;
}

.navbar,
.footer {
    background-color: #143F6B;
}

.footer p {
    color: white;
}

.footer img {
    width: 50px;
    height: auto;
}

span {
    padding-left: 30px;
}

.titlefont {
    font-family: "Freestyle Script", Arial, Helvetica, sans-serif;
}

#beachtitle {
    background-color: #143F6B;
    color: #f4be16;
}